    * {
        box-sizing: border-box;
    }

    body {
        font-family: "Arial","Helvetica", "Helvetica Neue", sans-serif;
        font-size: 1rem;
        background-color: #011826;
        margin: auto;
        color: #FFF;
        line-height: 1.5;
        max-width: 45rem;
    }

    .container {
        background-color: #012840;
        text-align: center;
        border-radius: 25px;
    }

    .masthead img {
        width:50%;
        margin: auto;
    }

    .masthead p {
        font-size: 1.2rem;
        font-weight: bold;
    }

    .box input {
        width: 60%;
        height: 30px;
        margin: 1% auto;
    }

    input [type="text"] {
        font-family: "Arial","Helvetica", "Helvetica Neue", sans-serif;
        font-size: 1rem;
        border:1px solid #FFF;
        padding: 0.5rem;
    }

    button {
        width: 60%;
        height: 30px;
        margin: 1% auto;
        font-family: "Arial","Helvetica", "Helvetica Neue", sans-serif;
        font-size: 1rem;
        font-weight: bolder;
        color: #440458;
        background-color: #FFF;
    }

    ul {
        text-align: left;
        padding-left: 50%;
    }

    footer {
        margin-top: 4%;
    }
    
    .media i {
        font-size: 3rem;
        color: #FFF;
        margin-right: 3%;
    }